:root {
  --OBA-red: #FF0000;
  --OBA-font: Avenir;
  --header-color: #707070;
}

* {
  margin: 0;
  padding: 0;
}

/* ---------index & goal page--------- */
header {
  width: 90%;
  margin: 10% auto;
}

header h2 {
  font-size: 1.8em;
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: var(--header-color);
}

#startupList {
  margin: 50% auto;
}

#startupList ul {
  list-style-type: none;
  width: 80%;
  margin: auto;
}

#startupList ul li {
  margin: 2em 0 2em 0;
  border-bottom: solid 0.01em var(--OBA-red);
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 3em;
}

#startupList ul li img {
  width: 2em;
  grid-column-start: 2;
}

#startupList ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-family: var(--OBA-font);
  grid-column-start: 1;
}

footer#navigate-footer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

footer#navigate-footer img {
  width: 3em;
  margin: auto;
}

footer#navigate-footer h3 {
  color: var(--header-color);
  font-family: var(--OBA-font);
  font-weight: bold;
  font-size: 1.2em;
}

footer#navigate-footer a {
  text-decoration: none;
  color: var(--header-color);
  font-family: var(--OBA-font);
  font-weight: bold;
  font-size: 1.2em;
}

/* ---------shareKnowledge&helpMe&somethingTogether pages--------- */
section.input-field {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

section.input-field h2 {
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: var(--header-color);
  margin: auto;
  width: 90%;
}

section.input-field div#add-tags {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 5% auto 5%;
  justify-content: space-between;
}

section.input-field div#add-tags input[type="text"]{
  width: 50%;
  height: 3em;
  background-color: #ccc;
  border: none;
  border-radius: 1em;
  margin: 0;
  padding-left: 10%;
}

section.input-field div#add-tags button{
  font-size: 1em;
  height: 3em;
  width: 30%;
  color: #fff;
  font-weight: bold;
  background-color: var(--OBA-red);
  border: none;
  border-radius: 1em;
}

div#tags {
  width: 80%;
  margin: 0 auto 10%;
}

div#tags .tag {
  background-color: var(--OBA-red);
  max-width: 5em;
  height: 2em;
  border-radius: 2em;
  display: flex;
}

div#tags div.tag span.dot {
  color: #fff;
  border-radius: 100%;
  width: 1em;
  display: block;
}

div#tags div.tag h3 {
  font-family: var(--OBA-font);
  font-size: 1em;
  font-weight: lighter;
  color: #fff;
  margin: auto 40% auto;
}

section.input-field input[type="text"]{
  font-size: 1em;
  width: 80%;
  height: 3em;
  background-color: #ccc;
  border: none;
  border-radius: 1em;
  margin: 5% auto 10%;
  padding-left: 10%;
}

.none {
  display: none !important;
}

section.input-field textarea{
  font-family: var(--OBA-font);
  font-size: 1.2em;
  line-height: 1.6em;
  width: 80%;
  height: 10em;
  background-color: #ccc;
  border: none;
  border-radius: 1em;
  margin: 5% auto 10%;
  padding-left: 10%;
}

section.recognition {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

section.recognition section.profilePic {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

section.recognition section.profilePic form {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
}

section.recognition section.profilePic form img {
  width: 50%;
  margin: 5% auto 5%;
  border-radius: 100%;
}

section.recognition section.profilePic label {
  width: 50%;
  padding: 0.5em;
  color: #fff;
  font-weight: bold;
  background-color: var(--OBA-red);
  font-family: var(--OBA-font);
  border-radius: 1em;
  text-align: center;
  margin: 5% auto 10%;
}

section.recognition h2 {
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: var(--header-color);
  margin: auto;
  width: 90%;
}

section.recognition input[type="text"]{
  font-size: 1em;
  width: 80%;
  height: 3em;
  background-color: #ccc;
  border: none;
  border-radius: 1em;
  margin: 5% auto 10%;
  padding-left: 10%;
}
