/* animation */

@-webkit-keyframes wordSlider {
  0%,
    27% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  33%,
    60% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  66%,
    93% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}

@keyframes wordSlider {
  0%,
    27% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  33%,
    60% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  66%,
    93% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}

:root {
  --OBA-red: #FF0000;
  --OBA-subColor: #D9582B;
  --OBA-subColor-Blue: #2668AC;
  --header-color: #707070;
  --OBA-font: Avenir, sans-serif;
  --input-background: #f6f6f6;
  --input-border: 1px solid #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
}

/* ---------index & goal page--------- */
header {
  width: 90%;
  margin: 5% auto 10%;
}

header h2 {
  font-size: 1.8em;
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: #000;
}

header p {
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: #000;
  margin-left: 5%;
}

header.index {
  width: 80%;
  margin-top: 30%;
}

header div.slider {
  display: inline-block;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}

header div.slider ul.slider-words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
          animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

#tagField{
  display: flex;
  flex-wrap: wrap;
}

header div.slider ul.slider-words li.slider-word {
  display: block;
  line-height: 1.3em;
  font-weight: bold;
}

#startupList {
  margin: 20% auto;
}

#startupList ul {
  list-style-type: none;
  width: 80%;
  margin: auto;
}

#startupList ul li {
  background-color: #000;
  margin: 2em 0 2em 0;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
  height: 3em;
  display: flex;
  border-radius: 0.3em;
  /* border-bottom: solid 0.01em var(--OBA-subColor); */
  /* display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 3em; */
}

#startupList ul li img {
  width: 2em;
  grid-column-start: 2;
}

#startupList ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-family: var(--OBA-font);
  font-weight: lighter;
  margin: auto;
  /* grid-column-start: 1; */
}

footer#navigate-footer {
  width: 90%;
  height: 5em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

footer#navigate-footer div.prev-next-button {
  font-weight: bold;
  background-color: #000;
  width: 40%;
  height: 2em;
  display: flex;
  text-align: center;
  border-radius: 0.3em;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
}

footer#navigate-footer img {
  width: 2.5em;
  margin: auto;
}

footer#navigate-footer div.prev-next-button h3 {
  color: #fff;
  font-family: var(--OBA-font);
  font-size: 1em;
  margin: auto;
}

footer#navigate-footer div.prev-next-button button {
  position: absolute;
  opacity: 0;
  width: 40%;
  height: 2em;
}

footer#navigate-footer div.prev-next-button a {
  text-decoration: none;
  color: #fff;
  font-family: var(--OBA-font);
  font-size: 1em;
  margin: auto;
}

/* ---------shareKnowledge&helpMe&somethingTogether pages--------- */


.feedback {
  font-size: 110%;
  box-sizing: border-box;
  border: 1px solid papayawhip;
  background-color: papayawhip;
  padding: 12px 21px;
  margin: 30px 33px;
}

section.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 3;
}

section.overlay h2 {
  font-family: var(--OBA-font);
  width: 90%;
  margin: 50% auto 10%;
}

section.overlay p {
  font-family: var(--OBA-font);
  font-weight: lighter;
  width: 90%;
  margin: 0% auto 20%;
}

section.overlay div#nav-box {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

section.overlay div#nav-box a {
  color: #fff;
  text-decoration: none;
  font-family: var(--OBA-font);
  margin: auto 0;
}

section.overlay div#nav-box button.go {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
  height: 3em;
  width: 40%;
  border-radius: 0.3em;
}

.down {
  transition: all 0.5s;
  bottom: -100% !important;
  /* display: none; */
}

section.input-field {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

section.input-field header h2 {
  font-weight: bold;
  color: #000;
  font-size: 1.5em;
  margin: 0;
}

section.input-field header p {
  /* font-size: 1.8em; */
  margin: 0;
}

section.input-field h2 {
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: #000;
  margin: auto;
  width: 90%;
  font-size: 1em;
}

section.input-field div#add-tags {
  width: 90%;
  margin: 2% auto 5%;
  display: flex;
  justify-content: space-between;
}

/* section.input-field div#add-tags form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

section.input-field div#add-tags input[type="text"]{
  width: 60%;
  height: 3em;
  background-color: var(--input-background);
  border: var(--input-border);
  margin: 0;
  padding-left: 5%;
}

section.input-field div#add-tags button{
  font-size: 1em;
  height: auto;
  width: 40%;
  color: #fff;
  background-color: var(--OBA-subColor);
  border: none;
  border-radius: 0 0.3em 0.3em 0;
}

section.input-field div#tags {
  width: 80%;
  margin: 0 auto 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.input-field div#tags .tag {
  background-color: var(--OBA-subColor-Blue);
  width: auto;
  padding: 0 0.5em;
  height: 2em;
  display: flex;
  margin: 0.1em auto;
}

section.input-field div#tags div.tag span.dot {
  color: #fff;
  border-radius: 100%;
  width: 1em;
  display: block;
}

section.input-field div#tags div.tag h3 {
  font-family: var(--OBA-font);
  font-size: 1em;
  font-weight: lighter;
  color: #fff;
  margin: auto;
}

section.input-field input[type="text"]{
  font-size: 1em;
  width: 85%;
  height: 3em;
  background-color: var(--input-background);
  border: var(--input-border);
  margin: 2% auto 10%;
  padding-left: 5%;
}

.none {
  display: none !important;
}

section.input-field textarea{
  font-family: var(--OBA-font);
  font-size: 1em;
  line-height: 1.6em;
  width: 85%;
  height: 10em;
  background-color: var(--input-background);
  border: var(--input-border);
  margin: 2% auto 10%;
  padding: 2%;
}

section.recognition {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

section.recognition header h2 {
  font-weight: bold;
  color: #000;
  font-size: 1.5em;
  margin: 0;
}

section.recognition header p {
  margin-left: 0;
}

section.recognition section.profilePic {
  width: 90%;
  margin: 0 auto 10%;
  display: flex;
  flex-direction: column;
}

section.recognition section.profilePic div.button-align {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section.recognition section.profilePic div.button-align button {
  width: 25%;
  padding: 0.5em;
  color: #fff;
  border-radius: 0.3em;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
  font-weight: lighter;
  border: none;
  background-color: #000;
  font-family: var(--OBA-font);
  text-align: center;
}

section.recognition section.profilePic form {
  display: flex;
  flex-direction: column;
}

section.recognition section.profilePic img {
  width: 70%;
  height: 15em;
  margin: 5% auto 5%;
  border-radius: 100%;
  border: var(--input-border);
}

section.recognition section.profilePic label {
  width: 50%;
  border-radius: 0.3em;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
  padding: 0.5em;
  color: #fff;
  font-weight: bold;
  background-color: var(--OBA-subColor);
  font-family: var(--OBA-font);
  text-align: center;
  /* margin: 5% auto 10%; */
}

section.recognition h2 {
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: #000;
  font-size: 1em;
  margin: auto;
  width: 90%;
}

section.recognition input[type="text"]{
  font-size: 1em;
  width: 85%;
  height: 3em;
  background-color: var(--input-background);
  border: var(--input-border);
  margin: 5% auto 10%;
  padding-left: 5%;
}

/* ---------messageOverviewpage--------- */
section.message {
  border-radius: 0.3em;
  background-color: #FAFAFA;
  width: 90%;
  height: auto;
  margin: 5% auto 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.24);
}

section.message div#header {
  width: 90%;
  margin: 5% auto 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.message div#header img {
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
}

section.message div#header h2 img{
  width: 14%;
  height: 11%;
  position: absolute;
  right: 26px;
  display: none;
}

section.message div#header h2 {
  font-family: var(--OBA-font);
  font-weight: bold;
  width: 100%;
}

section.message div#header h4 {
  font-family: var(--OBA-font);
  font-weight: lighter;
  color: #000;
  font-size: 0.8em;
  margin: auto 5%;
}

section.message p {
  font-family: var(--OBA-font);
  font-weight: lighter;
  width: 90%;
  margin: 0 auto 5%;
  word-wrap: break-word;
}

section.message div#tags {
  width: 90%;
  margin: 5% auto 10%;
  display: flex;
  flex-direction: row;
}

section.message div#tags .tag {
  border-radius: 0.3em;
  width: auto;
  margin: 0.2em;
  padding: 0 0.5em;
  height: 2em;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  border: solid 2px var(--OBA-subColor-Blue);
}

section.message div#tags div.tag span.dot {
  color: #fff;
  border-radius: 100%;
  width: 1em;
  display: block;
}

section.message div#tags div.tag h3 {
  font-family: var(--OBA-font);
  font-weight: lighter;
  margin: auto;
}

/* ---------dashboard--------- */
header#dashboard-header {
  text-align: center;
  padding: 5%;
  width: 90%;
  height: auto;
  margin: 0% auto 0%;
  transition: all 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header#dashboard-header img#logo {
  width: 50%;
  height: 50%;
}

header#dashboard-header div#add-post {
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
  background-color: #000;;
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  opacity: 0;
  transition: all 0.5s;
}

.rotate {
  transition: all 0.2s;
  transform: rotate(135deg);
}

header#dashboard-header div#add-post img {
  width: auto;
  height: 1.2em;
  margin: auto;
  transition: all 0.2s;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  transition: all 0.5s;
}

.sticky #logo {
  width: 30% !important;
  transition: all 0.5s;
}

.fixed-nav {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: top 300ms ease-in-out;
}

.fixed-dashboard-search {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.24);
}

nav h2 {
  color: #000;
}

.nav-unfold {
  top: 3.5em !important;
  left: 0;
  right: 0;
  transition: top 300ms ease-in-out;
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.24);
}

nav div.slider {
  display: inline-block;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}

nav div.slider ul.slider-words {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
          animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

nav div.slider ul.slider-words li.slider-word {
  box-shadow: none;
  background: none;
  display: block;
  line-height: 1.3em;
  font-weight: bold;
  margin: 0;
}

nav {
  text-align: center;
  margin: 10% auto 10%;
  background-color: #fff;
  transition: bottom 300ms ease-in-out;
}

nav h2 {
  font-family: var(--OBA-font);
  text-align: left;
  font-size: 1.5em;
  font-weight: lighter;
  width: 80%;
  margin: auto;
}

nav ul {
  list-style-type: none;
  width: 80%;
  margin: auto;
}

nav ul li {
  background-color: #000;
  margin: 1em 0 1em 0;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
  height: 2.5em;
  display: flex;
  border-radius: 0.3em;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  font-family: var(--OBA-font);
  font-weight: bold;
  margin: auto;
}

form#dashboard-search {
  color: #000;
  margin: 0% auto 0%;
  width: 90%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  font-family: var(--OBA-font);
  /* background-color: var(--OBA-subColor-Blue); */
}

form#dashboard-search div#checkbox {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

form#dashboard-search h2 {
  font-family: var(--OBA-font);
  font-weight: lighter;
  font-size: 1em;
  /* margin-top: 10%; */
}

form#dashboard-search div#checkbox input[type="checkbox"] {
  display: none;
}

form#dashboard-search div#checkbox label {
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.5em 0.5em;
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.24);
  transition: all 0.2s;
  border-radius: 0.3em;
}

form#dashboard-search div#checkbox label[for="together"] {
  background-color: rgba(160,0,120,0.3);
}

form#dashboard-search div#checkbox label[for="help"] {
  background-color: rgba(0,155,150,0.3);
}

form#dashboard-search div#checkbox label[for="offer-help"] {
  background-color: rgba(255,160,0,0.3);
}

/* checked */
form#dashboard-search div#checkbox input#together:checked + label[for="together"] {
  color: #fff;

  background-color: rgba(160,0,120,0.8);
  transform: translateY(4px);
  transition: all 0.2s;
}

form#dashboard-search div#checkbox input#help:checked + label[for="help"] {
  background-color: rgba(0,155,150,0.8);
  color: #fff;
  transform: translateY(4px);
  transition: all 0.2s;
}

form#dashboard-search div#checkbox input#offer-help:checked + label[for="offer-help"] {
  background-color: rgba(255,160,0,0.8);
  color: #fff;
  transform: translateY(4px);
  transition: all 0.2s;
}

form#dashboard-search input[type="text"]{
  font-size: 1em;
  width: 95%;
  height: 2.5em;
  background-color: var(--input-background);
  border: var(--input-border);
  margin: 0 auto 5%;
  padding-left: 5%;
}

section#thread {
  margin-bottom: 5em;
}

section.message div#reactions {
  background-color: #fff;
  padding: 0.5em 0;
  width: 100%;
  border-bottom: var(--input-border);
  border-left: var(--input-border);
  border-right: var(--input-border);
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}

.show-reaction {
  display: flex !important;
}

div.toggle-reactions {
  width: 3em;
  height: 2em;
  border-radius: 0.3em;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
}

div.toggle-reactions img {
  margin: auto 5%;
  width: 1.5em;
  height: 1.5em;
}

div.toggle-reactions p {
  margin: auto 5%;
  font-size: 0.8em;
  color: #fff;
}

section.message div#reactions form.reaction-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}


section.message div#reactions form input[type="text"] {
  font-size: 0.8em;
  width: 50%;
  height: auto;
  font-weight: lighter;
  background-color: var(--input-background);
  border: none;
  border: var(--input-border);
  /* border-radius: 0.5em 0 0 0.5em; */
  margin-left: auto;
  padding-left: 5%;
}

section.message div#reactions form.reaction-form img {
  width: 2.5em;
  height: 2.5em;
  margin-top: 0;
  margin-left: 5%;
  border: solid #ccc 0.01em;
  border-radius: 100%;
}

section.message div#reactions form input[type="submit"] {
  width: 20%;
  color: #fff;
  font-weight: bold;
  background-color: var(--OBA-subColor);
  border: none;
  border-radius:0 0.5em 0.5em 0;
  margin-right: 5%;
}

footer#index-footer {
  box-shadow: 0px -10px 10px 1px rgba(0,0,0,0.09);
  width: 100%;
  height: 3em;
  background-color: var(--input-background);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

footer#index-footer div#add-post {
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
  background-color: var(--OBA-subColor-Blue);
  border-radius: 100%;
  width: 3em;
  height: 3em;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1.5em;
  display: flex;
}

.rotate {
  transition: all 0.2s;
  transform: rotate(135deg);
}

footer#index-footer div#add-post img {
  width: auto;
  height: 1.5em;
  margin: auto;
  transition: all 0.2s;
}

section.message div#reactions img {
  width: 2.5em;
  height: 2.5em;
  margin-top: 1%;
  margin-left: 5%;
  border: solid #ccc 0.01em;
  border-radius: 100%;
}

section.message div#reactions p.date-time {
  font-size: 0.8em;
  font-style: italic;
  color: #ccc;
  margin-left: 20%;
  margin-bottom: 5%;
}

section.message div#reactions div.reaction {
  width: 70%;
  border-radius: 0.2em;
  margin: 0.2em auto;
  padding: 0.2em;
  height: auto;
  background-color: var(--input-background);
  border: var(--input-border);
  margin-left: 5%;
  display: flex;
  font-family: var(--OBA-font)
}

section.message div#reactions div.reaction p {
  color: #000;
  margin: auto;

}
