  <header>
  <h1>Oke, </h1> <h2>over wat voor soort kennis beschik je?</h2>
  <p>* vul minimaal 3 keuzes in</p>
  </header>  
  
  <input type="text" name="tag" placeholder="typ hier">
  <button type="">voeg toe</button>
  
  <h2>geef een naam aan je bericht</h2>
  <input type="textarea">

  <h2>typ je bericht</h2>
    <input type="textarea">

<a href="">Vorige</a>
[Help]

<a href="recognition">volgende</a>