<% include ../components/header.ejs %>

<header id="dashboard-header">
  <h2>dashboard</h2>
  <span class="burger">&#9776;</span>
  <nav>
    <h2 class="close-nav">X</h2>
    <ul>
      <li><a href="IHaveAGoal">ik heb een doel</a><img src="/assets/goal.svg" alt="explore"></li>
      <li><a href="helpMe">ik heb kennis/hulp nodig</a><img src="/assets/need-knowledge.svg" alt="need-knowledge"></li>
      <li><a href="somethingTogether">ik wil samen iets doen</a><img src="/assets/doing-together.svg" alt="doing-together"></li>
      <li><a href="break">ik heb pauze</a><img src="/assets/break.svg" alt="break"></li>
    </ul>
  </nav>
</header>


<form id="dashboard-search">

  <div id="checkbox">
    <input type="checkbox" id="coffee" name="" value="">
    <label for="coffee">Koffie drinken</label>

    <input type="checkbox" id="help" name="" value="">
    <label for="help">Hulp nodig</label>

    <input type="checkbox" id="offer-help" name="" value="">
    <label for="offer-help">Hulp aangeboden</label>
  </div>

  <h2>Zoek naar posts</h2>
  <input type="text" name="" id="search-tags" placeholder="zoek hier naar posts">
</form>

<section id="thread">
</section>

<script defer src="../javascript/dashboard-filter.js" type="module"></script>
<% include ../components/scripts.ejs %>
<% include ../components/footer.ejs %>
