<!--Hier komt een overzicht met activiteiten en het aantal actieve chats die een gebruiker open heeft staan-->


<% include%>

<a href="oproepPlaatsen"><button type="">Nieuwe Oproep</button></a>

<section>
    
</section>
<ul>
    <li><button type="">Koffie</button></li>
    <li><button type="">Sparren</button></li>
    <li><button type="">Info</button></li>
    <li><button type="">Hulpvragen</button></li>
</ul>