<% include ../components/header.ejs %>

<header>
  <h2>dashboard</h2>
  
</header>


<form id="dashboard-search">
  <h2>Zoek naar tags</h2>
  <input type="text" name="" id="search-tags" placeholder="zoek hier naar tags">
</form>

<section id="thread">
</section>

<a href="oproepPlaatsen"><button type="">Nieuwe Oproep</button></a>

<section>

</section>
<ul>
    <li><button type="">Koffie</button></li>
    <li><button type="">Sparren</button></li>
    <li><button type="">Info</button></li>
    <li><button type="">Hulpvragen</button></li>
</ul>

<% include ../components/scripts.ejs %>
<% include ../components/footer.ejs %>
