  <body>
  <header>
  <h1>Oke, </h1> <h2>aan wat voor soort hulp heb je behoefte?</h2>
  <p>* vul minimaal 3 keuzes in</p>
  </header>  
  
  <input type="text" name="tag" placeholder="typ hier">
  <button type="">voeg toe</button>
  
  
  <h2>geef een naam aan je bericht</h2>
  <input type="textarea">

  <h2>typ je bericht</h2>
    <input type="textarea">


    <header>
<h1>maak jezelf herkenbaar </h1>
<p></p>
</header>

<section id="profilePic">
<form action="getPicture.js">
    <article id="picBox"></article>
    <button type=""> upload foto</button>
    <input type="file" accept="image/   *" name="pic">
    <input type="submit">
</form>
</section>

<section>   
<h2>geef jezelf een naam</h2>
<input type="textarea" name="firstname" placeholder="jou naam...">
</section>

<a href="">Vorige</a>
[Help]

<a href="messageOverview" id="nextButton">volgende</a>

<% include ../components/scripts.ejs %>
</body>