
<% include ../components/header.ejs %>
  <header class="index">
  <h2>Oke, wil je
    <div class="slider">
      <ul class="slider-words">
        <li class="slider-word">kennis delen?</li>
        <li class="slider-word">hulp vragen?</li>
        <li class="slider-word">koffie drinken?</li>
         <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
        <li class="slider-word">kennis delen?</li>
      </ul>
    </div>
  </header>

<section id="startupList">
  <ul>
      <li><a href="shareKnowledge">ik wil kennis delen</a></li>
      <li><a href="helpMe">ik heb kennis/hulp nodig</a></li>
      <li><a href="somethingTogether">ik wil samen iets doen</a></li>
      <li><a href="dashboard">ik wil toch verkennen</a></li>
  </ul>
</section>

<% include ../components/footer.ejs %>
