
<body>
<header>
  <h1>Oke, </h1> <h2>wat voor doel heb je?</h2>
  </header>  

    <ul>
        <li><a href="shareKnowledge">ik wil kennis delen</a></li>
        <li><a href="helpMe">ik heb kennis/hulp nodig</a></li>
        <li><a href="somethingTogether">ik wil samen iets doen</a></li>
        <li><a href="break">ik heb pauze</a></li>
        <li><a href="discover">ik wil toch verkennen</a></li>
    </ul>
  

  <% include ../components/scripts.ejs %>

  </body>