<% include ../components/header.ejs %>
<body style="border: solid 1px var(--OBA-subColor-Blue)">
  <header id="dashboard-header">
    <h2>prikbord</h2>
    <nav>
      <h2>heb je
        <div class="slider">
          <ul class="slider-words">
            <li class="slider-word">kennis om te delen?</li>
            <li class="slider-word">een vraag?</li>
            <li class="slider-word">zin om koffie te drinken?</li>
             <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
            <li class="slider-word">kennis delen?</li>
          </ul>
        </div>
      </h2>
      <!-- <h2 class="close-nav">X</h2> -->
      <ul>
        <li><a href="shareKnowledge">epertise delen</a></li>
        <li><a href="helpMe">ik heb kennis/hulp nodig</a></li>
        <li><a href="somethingTogether">ik wil samen iets doen</a></li>
      </ul>
    </nav>
  </header>


  <form id="dashboard-search">
    <h2>Zoek naar posts</h2>
    <input type="text" name="" id="search-tags" placeholder="zoek hier naar posts">

    <div id="checkbox">
      <input type="checkbox" id="together" name="" value="">
      <label for="together">Samen doen</label>

      <input type="checkbox" id="help" name="" value="">
      <label for="help">Hulp nodig</label>

      <input type="checkbox" id="offer-help" name="" value="">
      <label for="offer-help">Hulp aangeboden</label>
    </div>

  </form>

  <section id="thread">
  </section>

  <footer id="index-footer">
    <div id="add-post">
      <img src="/assets/cross.svg" alt="cross">
    </div>
  </footer>

  <script defer src="../javascript/dashboard-filter.js" type="module"></script>
</body>

<% include ../components/scripts.ejs %>
<% include ../components/footer.ejs %>
