<body>

<h1>zo ziet je bericht er uit <span name="username" class="data"></span>:</h1>


<div>
    <h2>Title: <span name="postName" class="data"></span></h2>
    <p>text: <span name="postContent" class="data"></span></p>
    <p>tags: <span name="tag" class="data"></span></p>
    <p>time: <span name="time" class="data"></span></p>


<a id="postButton" href="dashboard">POST</a>
</div>


<% include ../components/scripts.ejs %>

</body>