<!--Hier komt een procedure waarin een gebruiker meerdere vragen beantwoord om een nieuwe oproep te plaatsen-->
<%include ../components/header%>

    <form id="oproepForm">
<section  id="oproepActiviteit">
        <p>Welke activiteit wil je gaan doen?</p>
        <label for="koffie"></label>
        <input type="radio" name="activiteit" value="koffie" id="koffie">Koffie

        <label for="sparren"></label>
        <input type="radio" name="activiteit" value="sparren" id="sparren">Overleggen / Sparren

        <label for="info"></label>
        <input type="radio" name="activiteit" value="info" id="info">Informatie vragen


        <label for="hulp"></label>
        <input type="radio" name="activiteit" value="hulp" id="hulp">Hulp
</section>






<section class="oproepForm" id="oproepTags">
    <p>Welke tags wil je aan je oproep toevoegen? TIP! Kies tags die betrekking hebben op jou doel</p>

    <input type="text" name="tags" placeholder="typ hier">
    <button type="" id="addTag">Voeg toe</button>
</section>

<section class="oproepForm" id="oproepNaam">
    <p>Welke naam wil je je oproep geven?</p>
    <input type="text" name="naam" placeholder="Kies een leuke naam!">
</section>


<section class="oproepForm" id="oproepLocatie">
    <p>Op welke OBA locatie ben je?</p>
    <select>
    <option>Oosterdok</option>
    <option>ergens anders</option>
    </select>
</section>
        <button type="" id="volgende">Volgende</button>

    </form>

    <% include ../components/scripts %>