<% include ../components/header.ejs %>

<form method="post" action="/msg">
    <section id="0" class="input-field section">
    <header>
      <h2>Oke, </h2> <h2>over wat voor soort kennis beschik je?</h2>
      <p>* vul minimaal 3 keuzes in</p>
      </header>

      <div id="add-tags">
          <input type="text" name="tag" placeholder="typ hier je tag">
          <button>voeg toe</button>
      </div>

      <div id="tags" name="tags">

      </div>

    <input type="text" class="none" name="tags">

      <h2>geef een naam aan je bericht</h2>
      <input type="text" placeholder="typ hier je naam" name="postName">

      <h2>typ je bericht</h2>
      <textarea placeholder="typ hier je bericht" name="postContent"></textarea>

      <footer id="navigate-footer">
        <div class="prev-next-button">
          <a href="iHaveAGoal">terug</a>
        </div>

        <img src="/assets/question-mark.svg" alt="explore">
        <div class="prev-next-button">
          <h3 class="next">volgende</h3>
        </div>
      </footer>

    </section>

    <section id="1" class="recognition none section">
      <header>
      <h2>maak jezelf herkenbaar </h2>
      <p></p>
      </header>

      <section class="profilePic">
          <img id="profile-pic-preview" src="/assets/placeholder.jpg" alt="">
          <input type="file" id="pic" accept="image/   *" name="pic" class="none" id="imageInForm">

          <div class="button-align">
            <label for="pic">upload foto</label>
            <button id='remove-pic'>verwijder</button>
          </div>
      </section>


      <h2>geef jezelf een naam</h2>
      <input type="text" name="username" placeholder="jouw naam...">


      <footer id="navigate-footer">
        <div class="prev-next-button">
          <h3 class="prev">terug</h3>
        </div>
        <img src="/assets/question-mark.svg" alt="explore">
        <div class="prev-next-button">
          <button type="submit" class="next">volgende</button>
        </div>
      </footer>
</form>


<script defer src="../javascript/add-tag.js" type="module"></script>
<script defer src="../javascript/image-prev.js" type="module"></script>
<script defer src="../javascript/prev-next.js" type="module"></script>

<% include ../components/footer.ejs %>
<% include ../components/scripts.ejs %>
