<% include ../components/header.ejs %>


    <section id="0" class="input-field section">
    <header>
      <h2>Oke, </h2> <h2>over wat voor soort kennis beschik je?</h2>
      <p>* vul minimaal 3 keuzes in</p>
      </header>

      <div id="add-tags">
        <input type="text" name="tag" placeholder="typ hier je tag">
        <button type="">voeg toe</button>
      </div>

      <div id="tags">
        <div class="tag"> <!-- give created element this class -->
          <span class="dot"></span> <!-- store this elements in created div -->
          <h3>CSS</h3> <!-- store this elements in created div -->
        </div>
      </div>

      <h2>geef een naam aan je bericht</h2>
      <input type="text" placeholder="typ hier je naam">

      <h2>typ je bericht</h2>
      <textarea placeholder="typ hier je bericht"></textarea>

      <footer id="navigate-footer">
        <a href="iHaveAGoal">Terug</a>

        <img src="/assets/question-mark.svg" alt="explore">

        <h3 class="next">Volgende</h3>
      </footer>

    </section>

    <section id="1" class="recognition none section">
      <header>
      <h2>maak jezelf herkenbaar </h2>
      <p></p>
      </header>

      <section class="profilePic">
      <form action="getPicture.js">
          <img src="/assets/placeholder.jpg" alt="">
          <input type="file" id="pic" accept="image/   *" name="pic" class="none">
          <label for="pic">upload foto</label>
      </form>
      </section>


      <h2>geef jezelf een naam</h2>
      <input type="text" name="firstname" placeholder="jouw naam...">


      <footer id="navigate-footer">
        <h3 class="prev">Vorige</h3>

        <img src="/assets/question-mark.svg" alt="explore">

        <a href="messageOverview">Volgende</a>
      </footer>

<script src="../javascript/prev-next.js" type="module"></script>
<% include ../components/footer.ejs %>
