<% include ../components/header.ejs %>
  <header>
  <h2>goedemiddag, </h2> <h2>waar ben je naar op zoek?</h2>
  </header>

  <section id="startupList">
    <ul>
        <li><a href="dashboard">verkennen...</a><img src="/assets/explore.svg" alt="explore"></li>
        <li><a href="#">ik heb een doel</a><img src="/assets/goal.svg" alt="explore"></li>
        <li><a href="#">ik ben een expert</a><img src="/assets/expert.svg" alt="explore"></li>
    </ul>
  </section>

<div id="question-mark">
  <img src="/assets/question-mark.svg" alt="explore">
</div>


<% include ../components/footer.ejs %>
