<% include ../components/header.ejs %>
  <header>
  <h1>goedemiddag, </h1> <h2>waar ben je naar op zoek?</h2>
  </header>  

  <section>
    <body>
    <ul id="startupList">
        <li><a href="dashboard">verkennen... [=]</a></li>
        <li><a href="#">ik heb een doel [=]</li>
        <li><a href="#">ik ben een expert [=]</li>
    </ul>
  </section>

<div>
  [?]
</div>


<% include ../components/footer.ejs %>
  