<% include ../components/header.ejs %>
  <header class="index">
  <h2>heb je
  <div class="slider">
    <ul class="slider-words">
      <li class="slider-word">kennis om te delen?</li>
      <li class="slider-word">hulp nodig?</li>
      <li class="slider-word">behoeft aan overleg?</li>
       <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
      <li class="slider-word">kennis om te delen?</li>
    </ul>
  </div>
  </h2>

  </header>

  <section id="startupList">
    <ul>
        <li><a href="dashboard">verkennen...</a></li>
        <li><a href="IHaveAGoal">ik heb een doel</a></li>
        <li><a href="expert">ik ben een expert</a></li>
    </ul>
  </section>

<!-- <footer id="navigate-footer">
  <img src="/assets/question-mark.svg" alt="explore">
</footer> -->

<% include ../components/scripts.ejs %>
<% include ../components/footer.ejs %>
