<% include ../components/header.ejs %>
  <header>
  <h2>heb je</h2>

  </header>

  <section id="startupList">
    <ul>
        <li><a href="dashboard">verkennen...</a></li>
        <li><a href="IHaveAGoal">ik heb een doel</a></li>
        <li><a href="expert">ik ben een expert</a></li>
    </ul>
  </section>

<footer id="navigate-footer">
  <img src="/assets/question-mark.svg" alt="explore">
</footer>

<% include ../components/scripts.ejs %>
<% include ../components/footer.ejs %>
